<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ParkGaraj</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.google.com/specimen/Anton" rel="stylesheet">
    <link href="https://fonts.google.com/specimen/Anton" rel="stylesheet">
</head>
<body>
    <header>
        <nav style="background-color:#ffd700">
            <div class="container">
                <img src="parkgaraj.jpg" alt="ParkGaraj" style="width:350px;height:100px" /></img>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a style="background-color:gold" asp-area="" asp-page="/Anasayfa">Anasayfa</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a style="background-color:gold" asp-area="" asp-page="/Ürün">Ürünlerimiz</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-">
                        <li class="nav-item">
                            <a style="background-color:gold" asp-area="" asp-page="/Hakkımızda">Hakkımızda</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-">
                        <li class="nav-item">
                            <a style="background-color:gold" asp-area="" asp-page="/İletişim">İletişim</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer style="background-color:#ffd700">
        <div class="container">
            &copy; ParkGaraj.WebSite <a asp-area="" asp-page="/Privacy"></a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>