@page
@model IndexModel
@{

}
<div class="text-center">
    <img src="IMG_E3413.JPG" alt="ParkGaraj" style="width:550px;height:100px" />
</div>

<div class="card-columns">
    @foreach (var Park in Model.Parks)
    {
        <div class="card">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-img" style="background-image: url('@Park.Image');"></div>
                    <div class="card-body">
                        <h5 class="card-title">@Park.Title</h5>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


