@page
@model ParkGarajWeb.Pages.İletişimModel
@{
    ViewData["Title"] = "İletişim";
}
<fieldset>
    <div class=" row">
        <iframe src="https://www.google.com/maps/d/embed?mid=1Guznj8IKLfCVpN9MpNB855ro43BxzeTl" width="1250" height="350"></iframe>
    </div>
</fieldset>
<fieldset>
    <div class="row">
        <div class="col-md-4">
            <label style="color:gold"><strong>Adres</strong></label>
            <div class="col-lg-9">
                <p style="color:black">Kızılcaşar, Taşpınar, 3035. Cd. No: 3, 06830 Gölbaşı/Ankara</p>
            </div>
        </div>
        <div class="col-md-4">
            <label style="color:gold"><strong>Tel No</strong></label>
            <div class="col-lg-9">
                <p style="color:black">(0312) 489 16 56</p>
            </div>
        </div>
        <div class="col-md-4">
            <label style="color:gold"><strong>Email</strong></label>
            <div class="col-lg-9">
                <p style="color:black">parkgaraj06@gmail.com </p>
            </div>
        </div>
    </div>
</fieldset>


