@page
@model PrivacyModel
@{
    ViewData["Title"] = "Kullandığımız Ürünler";
}
<h1>@ViewData["Title"]</h1>

<p> 
    Menzerna -
    Nanolex -
    Gyeon -
    Goodyear -
    Bosch -
    Castrol -
    İnci Akü
</p>
